# --- Forcer Angular en TypeScript ---
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

# --- HTML et SCSS reconnus mais secondaires ---
*.html linguist-language=HTML
*.scss linguist-language=SCSS

# --- Ignorer JS/CSS compilés ---
*.js linguist-vendored
*.css linguist-vendored
*.map linguist-vendored

# --- Ignorer les dossiers générés ---
/dist/* linguist-vendored
/node_modules/* linguist-vendored
/.angular/* linguist-vendored

# --- Docs non comptées ---
*.md linguist-documentation
CHANGELOG.md linguist-documentation
/.github/* linguist-vendored

# --- Normalisation des fins de lignes ---
* text=auto
