footer {
  background-color: #212529; /* fond sombre */
  color: var(--gris); /* texte général gris clair */
  text-align: center;
  padding: auto 1rem 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer h6 {
  color: var(--orange); /* titres en orange */
  margin-bottom: 0.5rem;
}

.footer a,
.footer p,
.footer ul li i {
  color: var(--gris); /* textes et icônes gris clair */
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.footer a:hover,
.footer ul li i:hover {
  color: var(--orange); /* hover orange */
}
