<ng-content>
  <h2 class="text-center mb-4">Modifier le Produit</h2>
  <div class="container floral-form">
    <form (ngSubmit)="updateProduct()">
      <!-- Nom -->
      <div class="form-group">
        <label for="nom">Nom du Produit</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nom"
          name="nom"
          required
        />
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          [(ngModel)]="description"
          name="description"
          rows="3"
          required
        ></textarea>
      </div>

      <!-- Prix -->
      <div class="form-group">
        <label for="prix">Prix (€)</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="prix"
          name="prix"
          required
        />
      </div>
      <!-- Dropdown pour sélectionner la catégorie -->
      <div class="form-group dropdown">
        <label for="productCategory">Catégorie</label>
        <!-- <select class="form-control dropdown" name="categorie_id" [(ngModel)]="categorie_id" required>
        <option value="" disabled selected>Sélectionner une catégorie</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.nom }}
        </option>
      </select> -->
        <select
          class="form-control"
          name="categorie_id"
          [(ngModel)]="categorie_id"
          required
        >
          <option value="" disabled>Sélectionner une catégorie</option>
          <option
            *ngFor="let category of categories"
            [value]="category.id"
            [selected]="category.id.toString() === categorie_id"
          >
            {{ category.nom }}
          </option>
        </select>
        <!-- <select [(ngModel)]="categorie_id" class="form-control">
          <option value="" disabled>Sélectionner une catégorie</option>
          <option *ngFor="let cat of categories" [value]="cat.id.toString()"
           [selected]="cat.id.toString() === categorie_id"
          >
            {{ cat.nom }}
          </option>
        </select> -->
        
      </div>
      <!-- Image -->
      <div class="form-group">
        <label for="image">Image du Produit</label>
        <input type="file" id="image" class="form-control-file" (change)="onFileSelected($event)" />
        <img
          *ngIf="image"
          [src]="image"
          alt="Aperçu de l'image"
          class="preview-img mt-3"
        />
        
      </div>

      <!-- Boutons -->
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-success" (click)="updateProduct()">
          Enregistrer
        </button>
        <button type="submit" class="btn btn-danger  mx-5" (click)="cancelEdit()">
          Annuler
        </button>
      </div>
    </form>
  </div>
</ng-content>
