<div class="container">
  <hr />
  <h2>Ajout du Produit</h2>
  <hr />

  <!-- Formulaire d'ajout de produit -->
  <form (submit)="addProduct()">
    <div class="form-group">
      <label for="productName">Nom du produit</label>
      <input
        type="text"
        class="form-control"
        name="nom"
        [(ngModel)]="nom"
        placeholder="Nom du produit"
        required
      />
    </div>
    <div class="form-group">
      <label for="productDescription">Description</label>
      <textarea
        class="form-control"
        name="description"
        [(ngModel)]="description"
        rows="3"
        placeholder="Description du produit"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="productPrice">Prix (€)</label>
      <input
        type="number"
        class="form-control"
        name="prix"
        [(ngModel)]="prix"
        placeholder="Prix en €"
        required
      />
    </div>
    <!-- Dropdown pour sélectionner la catégorie -->
    <div class="form-group dropdown">
      <label for="productCategory">Catégorie</label>
      <select class="form-control dropdown" name="categorie_id" [(ngModel)]="categorie_id" required>
        <option value="" disabled selected>Sélectionner une catégorie</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.nom }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="productImage">Image du produit</label>
      <!-- <input type="file" class="form-control-file" id="productImage" required> -->
      <input
        class="form-control-file"
        type="file"
        (change)="onFileSelected($event)"
        required
      />
    </div>

    <button type="submit" class="btn btn-success btn-floral btn-block">
      Ajouter le produit
    </button>
  </form>

  <hr />
  <h2>Liste des Produits</h2>
  <hr />

  <!-- Tableau des produits -->
  <table class="table table-striped table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Prix</th>
        <th scope="col">Image</th>
        <th scope="col">Catégorie</th>
        <!-- Nouvelle colonne pour la catégorie -->
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td scope="row">{{ product.id }}</td>
        <td>{{ product.nom }}</td>
        <td class="product-description">{{ product.description }}</td>
        <td>{{ product.prix }} €</td>
        <td>
          <img
            [src]="product.image"
            class="card-img-top product-img"
            alt="{{ product.nom }}"
          />
        </td>
        <td>{{ product.categorie_nom }}</td>
        <!-- Affichage de la catégorie -->
        <td class="d-flex">
          <a
            [routerLink]="['/admin/update-product', product.id]"
            routerLinkActive="router-link-active"
            class="text-white btn btn-warning mr-2"
            >Modifier</a
          >
          <a class="text-white btn btn-danger" (click)="deleteProduct(product.id)">Supprimer</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
