<app-banner-title
  [title]="'Inscrivez vous'"
  [underTitle]="'Rejoignez-nous dès maintenant pour profiter pleinement !'"
>
</app-banner-title>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="register-form">
        <!-- Logo de la page -->
        <div class="text-center mb-2">
          <img
            src="assets/images/lotus.webp"
            style="width: 150px"
            alt="logo"
          />
        </div>

        <!-- Formulaire d'inscription -->
        <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
          <!-- Champ Nom -->
          <div class="mb-3">
            <label class="form-label" for="lastname">Nom</label>
            <input
              type="text"
              name="lastname"
              class="form-control"
              [(ngModel)]="lastname"
              required
              placeholder="Entrez votre nom"
            />
          </div>

          <!-- Champ Prénom -->
          <div class="mb-3">
            <label class="form-label" for="firstname">Prénom</label>
            <input
              type="text"
              name="firstname"
              class="form-control"
              [(ngModel)]="firstname"
              required
              placeholder="Entez votre prénom"
            />
          </div>

          <!-- Champ Téléphone -->
          <div class="mb-3">
            <label class="form-label" for="phone">Phone</label>
            <input
              type="tel"
              name="phone"
              class="form-control"
              [(ngModel)]="phone"
              required
              placeholder="Entez votre téléphone"
            />
          </div>

          <!-- Champ Email -->
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              [(ngModel)]="email"
              required
              placeholder="Entez votre email"
            />
          </div>

          <!-- Champ Mot de passe -->
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              [(ngModel)]="password"
              required
              placeholder="Entez votre mot de passe"
            />
          </div>

          <!-- Messages d'erreur ou de succès -->
          <p *ngIf="errorMessage" class="alert alert-danger py-1">{{ errorMessage }}</p>
          <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

          <!-- Bouton d'inscription -->
          <div class="text-center">
            <app-button
              [label]="isloading ? 'en cours ...' : 's\'inscrire'"
              [disabled]="isloading"
              customClass="w-100"
              type="submit"
            ></app-button>
          </div>

          <!-- Lien vers la page de connexion -->
          <div class="text-center mt-4">
            <p>
              Vous avez un compte ?
              <a class="btnAuth" routerLink="/login"> Se connecter </a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
