<!-- Spinner pendant le chargement -->
<div *ngIf="loading" class="text-center my-5">
  <img width="160" src="assets/images/spinner.gif" alt="chargement..." />   
</div>

<!-- Carrousel de produits -->
<div *ngIf="!loading" class="product-carousel">
  <div class="product-track">
    <!-- Boucle sur les produits pour affichage -->
    <div class="product-item" *ngFor="let product of products">
      <img [src]="product.image" [alt]="product.nom" class="img-fluid" />
      <h5>{{ product.nom }}</h5>
      <p>{{ product.prix | currency }}</p>
      <app-link-button
        label="Voir le produit"
        [routerLink]="['/product-details', product.id]"
        role="button"
      ></app-link-button>
    </div>

    <!-- Duplication des produits pour effet de défilement infini -->
    <div class="product-item" *ngFor="let product of products">
      <img [src]="product.image" [alt]="product.nom" class="img-fluid" />
      <h5>{{ product.nom }}</h5>
      <p>{{ product.prix | currency }}</p>
      <app-link-button
        label="Voir le produit"
        [routerLink]="['/product-details', product.id]"
        role="button"
      ></app-link-button>
    </div>
  </div>
</div>
