
:root{
  --vert-olive:#a4ab53;
  --vert-olive-clair:#b0be1c;
  --vert-olive-fonc:#525814;

  --gris:#b0b0b0;
  --gris-fonc:#535252;
  --gris-clair:#e0e0e0;
  /* --orange:orange; */
  --orange:rgb(235, 183, 87);
  --rouge-brique:#934d4d;
  --rouge-brique-clair:#b06363;
}

/* You can add global styles to this file, and also import other style files */
 /* Pour éviter que le contenu soit caché par la navbar fixe */
 /* Pour éviter que le contenu soit caché par la navbar fixe */
 body {
    /* padding-top: 140px;  */
    /* Ajuster selon la hauteur de topbar + navbar */
    background-color: #f7f7f7;
  }
 

/* Applique un fond spécifique pour la page de connexion */
body.login-page {
  background-color: #eee !important; /* Fond gris clair uniquement pour login */
}


/* Scrollbar personnalisée - Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* fond clair */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:   var(--rouge-brique);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: 
    var(--vert-olive) ;
}

/* Scrollbar pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--rouge-brique) #f1f1f1;
}

@media screen and (max-width: 767px) {
  *::-webkit-scrollbar {
    display: none !important;
  }
} 
/* -----end--------css for scrollbar-------- */
a{
  text-decoration: none;
}


.form-control:focus {

     border-color: var(--vert-olive-clair)!important;
    box-shadow: 0 0 8px var(--vert-olive)!important;
}
#toast-container {
  z-index: 9999 !important;
}

/* pour mettre la boite confirm dialog au dessus de tous */
.cdk-overlay-container {
  z-index: 9999 !important; /* plus élevé que ton slide */
}

/* -----toastr----- */
@keyframes slideFromRight {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.toast-slide {
  animation: slideFromRight 0.5s ease forwards;
}